#hero-img {
  float: left;
  width: 100%;
  max-width: 700px;
  height: auto;
}
html,
#home-page {
  background-color: #0e0e0e;
}

#main-text-container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.main-text {
  font: normal 40px/50px Montserrat, sans-serif;
  color: rgb(110, 238, 117);
}
